@media (prefers-color-scheme: dark) {
  html {
    // Crude automatic dark theme.
    background-color: hsl(0, 0, 18%);
    filter: invert(100%);
  }
}

.container {
  max-width: 56rem;
  margin: 0 auto;
  padding: 3rem 0.5rem 2rem;
}

h1 {
  text-align: center;
}
