@media (prefers-color-scheme: dark) {
  html {
    background-color: hsl(0, 0, 17%);
  }

  .markdown-body {
    color: hsl(0, 0%, 85%);
  }

  .markdown-body a {
    color: hsl(200, 100%, 64%);
  }

  .markdown-body .highlight pre,
  .markdown-body pre {
    background-color: hsl(0, 0%, 23%);
  }

  .markdown-body blockquote {
    color: hsl(0, 0%, 70%);
  }

  .markdown-body kbd {
    background-color: hsl(0, 0%, 25%);
    border-color: hsl(0, 0%, 35%);
    box-shadow: inset 0 -1px 0 hsl(0, 0%, 35%);
    color: hsl(0, 0%, 95%);
  }
}

.container {
  max-width: 56rem;
  margin: 0 auto;
  padding: 3rem 0.5rem 2rem;
}

h1 {
  text-align: center;
}

.markdown-body blockquote {
  border-left-color: hsl(0, 75%, 60%);
}
