<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Disable or restore Windows Defender using .reg files provided on this website.">
    <meta name="theme-color" content="#2f6acd">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/style.css">
  </head>
  <body>
    <div class="markdown-body container">
      {{ content }}
    </div>
  </body>
</html>
